$dark-color: #808080;
$gray-color: #bebebe;
$light-color: #f5f5f5;

$padding-x: 60px;
$padding-y: 20px;

$gap: 12px;
$big-gap: 32px;

$service-height: 200px;

$small-font: 32px;
$large-font: 72px;

@mixin links-list {
  display: flex;
  gap: 15px;

  a {
    text-decoration: none;
    color: $dark-color;
    cursor: pointer;
    font-size: $small-font;

    &:hover {
      text-decoration: underline;
    }
  }
}

p,
h2 {
  margin: 0;
}

p {
  font-size: $small-font;
}

h2 {
  font-size: $large-font;
}

.landing-page {
  color: $dark-color;
  background-color: $light-color;

  &__nav {
    width: 100%;
    padding: $padding-y $padding-x;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;

    background-color: $gray-color;

    &-logo {
      font-size: $small-font;
      font-weight: bold;
    }

    &-links {
      @include links-list;
    }
  }

  &__carousel {
    .carousel {
      box-sizing: border-box;
      padding: $padding-y * 3 $padding-x;

      background-color: $gray-color;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gap;

      &-info {
        display: flex;
        flex-direction: column;
        gap: $gap;

        > h2 {
          margin: 0;
          font-size: $large-font;
        }
        > p {
          font-size: $small-font;
        }
      }
      &-picture {
        flex: 1;
        max-width: 600px;
        height: 400px;
        display: flex;

        > .fake-picture {
          width: 100%;
          height: 100%;
          background-color: $dark-color;
        }
      }
    }
    .carousel-selector {
      width: 100%;
      padding: $padding-y $padding-x;
      box-sizing: border-box;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: $gap;

      &__dot {
        width: $gap;
        height: $gap;
        border-radius: 50%;
        background-color: $gray-color;
        cursor: pointer;

        &.active {
          background-color: $dark-color;
        }
      }
    }
  }

  &__content {
    padding: $padding-y * 2 $padding-x;
    margin-bottom: $padding-y;
    box-sizing: border-box;

    background-color: $light-color;

    > .services {
      margin-bottom: $big-gap;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $big-gap;

      > .service {
        height: $service-height;
        padding: $gap;

        background-color: $gray-color;

        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &.service-1 {
          justify-content: center;
          align-items: center;
        }
        &.service-2 {
          justify-content: center;
          align-items: flex-end;
        }
        &.service-3 {
          justify-content: center;
          align-items: flex-start;
        }
        &.service-4 {
          justify-content: flex-start;
          align-items: center;
        }
        &.service-5 {
          justify-content: flex-end;
          align-items: center;
        }
        &.service-6 {
          justify-content: flex-end;
          align-items: flex-start;
          padding: 0;
          line-height: 1;
        }
      }
    }
    > .services-feed {
      > .fullwidth-service {
        width: 100%;
        height: $service-height;
        padding: $gap;
        box-sizing: border-box;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        background-color: $gray-color;

        p {
          font-size: $small-font;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    padding: $padding-y $padding-x;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $gray-color;

    &-links {
      @include links-list;
    }
    &-info {
      p {
        font-size: $small-font;
      }
    }
  }
}
