<div class="landing-page">
  <div class="landing-page__nav">
    <div class="landing-page__nav-logo">
      <span>LOGO</span>
    </div>
    <div class="landing-page__nav-links">
      <a *ngFor="let item of this.navBarLinks" href="#">{{ item.text }}</a>
    </div>
  </div>

  <div class="landing-page__carousel">
    <div class="carousel">
      <div class="carousel-info">
        <h2>Intro</h2>
        <p>Some introduction lines about the website or company</p>
      </div>
      <div class="carousel-picture">
        <div class="fake-picture"></div>
      </div>
    </div>
    <div class="carousel-selector">
      <div class="carousel-selector__dot active"></div>
      <div class="carousel-selector__dot"></div>
      <div class="carousel-selector__dot"></div>
      <div class="carousel-selector__dot"></div>
    </div>
  </div>

  <div class="landing-page__content">
    <div class="services">
      <div class="service service-1">
        <p>Services</p>
      </div>
      <div class="service service-2">
        <p>Services</p>
      </div>
      <div class="service service-3">
        <p>Services</p>
      </div>
      <div class="service service-4">
        <p>Services</p>
      </div>
      <div class="service service-5">
        <p>Services</p>
      </div>
      <div class="service service-6">
        <p>Services</p>
      </div>
    </div>
    <div class="services-feed">
      <div class="fullwidth-service">
        <p>Twitter Feed</p>
      </div>
    </div>
  </div>

  <div class="landing-page__code">
    <h3>Weather Report Data</h3>
    <pre><code>{{ getWeatherReportJson() }}</code></pre>
  </div>

  <div class="landing-page__footer">
    <div class="landing-page__footer-links">
      <a *ngFor="let item of this.footerLinks" href="#">{{ item.text }}</a>
    </div>
    <div class="landing-page__footer-info">
      <p>Info</p>
    </div>
  </div>
</div>
